<nav class="navbar navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">MyStore</a>
	</div>
</nav>

<div class="container m-4">
	<button type="button" (click)="signUp()" class="btn btn-primary m-2">SignUp</button>
	<button type="button" (click)="getStates()" class="btn btn-secondary m-2">Get States</button>
</div>

<div class="container">
	<div class="sucess" *ngIf="success">
		{{success | json}}
	</div>
	<div class="error" *ngIf="error">
		{{error | json}}
	</div>
</div>